<a class="nav-link" href="{% url 'admin_staff:users' %}">
    <div class="sb-nav-link-icon">
        <i class="fas fa-users"></i>
    </div>
    Пользователи
</a>
<a class="nav-link" href="{% url 'admin_staff:categories' %}">
    <div class="sb-nav-link-icon">
        <i class="fas fa-person-booth"></i>
    </div>
    Категории
</a>
<a class="nav-link" href="{% url 'admin_staff:products' %}">
    <div class="sb-nav-link-icon">
        <i class="fas fa-tshirt"></i>
    </div>
    Продукты
</a>
<a class="nav-link" href="{% url 'admin_staff:baskets' %}">
    <div class="sb-nav-link-icon">
        <i class="fas fa-shopping-basket"></i>
    </div>
    Корзины
</a>
<a class="nav-link" href="{% url 'admin_staff:orders_list' %}">
    <div class="sb-nav-link-icon">
        <i class="fas fa-truck"></i>
    </div>
    Заказы
</a>